html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	background-color: #000000
}
/*Homepage Styling begins here*/
.title_banner{
	text-align: center;
	color:white;
	font-size: 40px;
}
.nav_bar{
	color:maroon;
}
.home{
	width:20%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.home a{
	text-decoration: none;
}
.magic{
	width:20%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.magic a{
	text-decoration: none;
}
.collectibles{
	width:20%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.collectibles a{
	text-decoration: none;
}
.contact{
	width:20%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.contact a{
	text-decoration: none;
}
.events{
	width:20%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.events a{
	text-decoration: none;
}
.bodycontent{
	display: inline-block;
}
.indextext{
	margin-top: 40px;
	margin-left:100px;
	display: inline-block;
	color:white;
	width:25%;
	font-size: 20px;
	background-color: gray;
	border-radius: 12px;
	padding:8px;
}
/*.indextext p{
	overflow: scroll;
	height:200px;
}*/
.leftp{
	display: inline-block;
	float:left;
	margin: 0 auto;
}
.rightp{
	display: inline-block;
	float:right;
	margin: 0 auto;
	padding-top: 30px;
}
.indeximg{
	width:50%;
	float:right;
	margin-right: 40px;
	margin-top:70px;
	border-radius: 10px;
}

/* Magic Page styling begins here */

.seller_links p{
	text-align: center;
	color:white;
	font-size: 40px;
}

.ebay img{
	width:47%;
	height:275px;
	float:left;
}

.amazon img{
	width:47%;
	height:275px;
	float:right;
}

/*Events Page styling begins here*/
.calendar{
	display: inline-block;
}
.calendar iframe{
	margin-top:75px;
	border-radius: 7px;
}
.cal_text{
	background-color: gray;
	color:white;
	text-align: center;
	border-radius: 7px;
	max-width: 400px;
	margin-top: 25px;
	margin-right: 3%;
	float:right;
	display: inline-block;
}
.event_banner{
	background-color: blue;
	border-radius: 5px;
}
.noob{
	color:yellow;
}
.weds{
	background-color: blue;
	border-radius: 5px;
}
/*.modern{
	background-color: green;
	border-radius: 5px;
}*/
