html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	background-color: #000000
}
.title_banner{
	text-align: center;
	color:white;
	font-size: 40px;
}
.nav_bar{
	color:maroon;
}
.home{
	width:25%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.home a{
	text-decoration: none;
}
.magic{
	width:25%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.magic a{
	text-decoration: none;
}
.collectibles{
	width:25%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.collectibles a{
	text-decoration: none;
}
.contact{
	width:25%;
	float:left;
	background-color: #33cccc;
	text-align: center;
	font-size: 25px;
/*	border-radius: 10px;*/
}
.contact a{
	text-decoration: none;
}
.bodycontent{
	display: inline-block;
}
.indextext{
	margin-top: 40px;
	margin-left:100px;
	display: inline-block;
	color:white;
	width:25%;
}
.leftp{
	display: inline-block;
	float:left;
	margin: 0 auto;
}
.rightp{
	display: inline-block;
	float:right;
	margin: 0 auto;
	padding-top: 30px;
}
.indeximg{
	width:50%;
	float:right;
	margin-right: 40px;
}

/* Magic Page styling begins here */

.ebay img{
	width:50%;
	height:275px;
	float:left;
}
.amazon img{
	width:50%;
	height:275px;
	float:left;
}
